* {
    margin: 0;
    padding: 0;
}

:root{
    font-family: "Alice", serif;
    line-height: 150%;
    color: #573A37;
}

body {
    margin: 0;
    min-height: 100vh;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;

    background-image: url("assets/Macarronada.png");
    background-size: cover;
    background-position: center;
    transform: scale(1.10);

    filter: blur(10px);
    z-index: -1;
}

#page{
    box-sizing: border-box;
    width: 800px;
    padding: 24px;
    background-color: rgb(255, 162, 100);
    margin: 48px auto;
    border-radius: 16px;
}

main{
    padding: 24px;
}

section + section{ 
    margin: 24px auto;
}

img {
    border-radius: 16px;
    width: 100%;
    height: auto;
    display: block;
}

footer{
    box-sizing: border-box;
    background-color: rgb(255, 162, 100);
    width: 350px;
    padding: 1px;
    margin: 12px auto;
    text-align: center;
    border-radius: 16px;
}

h1{
    line-height: 140%;
    font-size: 40px;
}

h2{
    font-size: 24px;
    margin: 12px auto;
}

h1, h2{
    color: #291B1A;
    margin-bottom: 4px;
    line-height: 150%;
}

ul, ol{
    padding-left: 24px;
}